* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {

  width: 1010px;
  
  padding: 116px 50px 0 50px;
 
  margin: auto;
 
}
.main{
  float: left;
 width: 70%;
}
.image{
  float: left;
  margin-bottom: 22px;
  margin-right: 22px;
}
.title{
  
  font-size: 32px;
  
  color: #263555;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.subtitle{
  
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #263555;
  
  margin-bottom: 15px;
}

.text{
  padding-left: 38px;
  font-size: 13px;
  color: #4e5050;
  font-family: Arial, Helvetica, sans-serif;
}
.pad{
  padding-left:0;
 }
.asid{
  width: 30%;
  float: right;
}
.list{
  counter-reset: list;
list-style: none;
}
.clearfix::after {
  display: block;
  content: '';
  clear: both;
}
.list-item{
  margin-bottom: 10px;
  padding-left: 20px;
}
.list-item:last-child{
  margin-bottom: 0;
}
.list-item::before {
	counter-increment: list;
	content: counter(list);
	display: block;
	float: left;
	width: 26px;
	height: 26px;
	margin-right: 12px;
	border-radius: 50%;
	background-color: #38afe5;
	color: #ffffff;
	text-align: center;
  line-height: 26px;
}
