.main {
  display: flex;
  justify-content: space-between;
  width: 64rem;
 
  background: var(--background-color);
  padding: 3.75rem;
  
  margin: auto;
}
.briefly-tour{
  display: flex;
 justify-content: space-around;
  flex-basis: 50%;
margin-bottom: 2rem;

}
.tours{
  display: flex;
  flex-wrap: wrap;
  }
.p-span{
  margin-bottom: 1rem;
}

.section-tours{
  
  flex-basis: 70%;
}
.search{
  flex-basis: 25%;
}
}
.tab-tour{
  flex-basis: 46%;
  text-align: left;
}

.link-back {
  border-radius: 50%;
  width: 2.188rem;
  background: var(--link-background-color);
  text-decoration: none;
  line-height: 2.188rem;
  margin-left: auto;
  display: flex;
  justify-content: center;
  position: fixed;
  right: 15%;
  bottom: 5%;
}

.link-back::after {
 
  content: "\003C";
  transform: rotate(90deg);
  color: var(--background-color);
  font-size: 1.563rem;
  font-weight: bolder;
}

select
{
 
  margin-bottom: 1.25rem;
  background: var(--quote-background-color);
  border: 1px solid var(--border-color);
  width: 100%;
}

button{
  background: var(--quote-background-color);;
  border: 1px solid var(--border-color);
  border-radius: 0.312rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  
}
ul{
  list-style: none;
}
.title{
  margin-bottom: 3.125rem;
  font-family: var(--font-path);
  font-size: 2rem;
  color: var(--schar-color);
  text-transform: uppercase;
}

td{
  font-size: 0.625rem;
  color: var(--text-color);
  font-family: var(--font-arial);
}
span{
  font-size: 0.8125rem;
  color: var(--span-color);
  font-family: var(--font-arial);
}
th{
  color: var(--schar-color);
  font-family: var(--font-footer);
  font-size: 0.75rem;
}