* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.wrapper{
  margin: auto;
  max-width: 13.5rem;
  display: block;
 
}
table{
margin-bottom: 3.125rem;

}
a{
  text-decoration: none;
}
.phone{
  text-align: right;
}
caption{
  text-align: left;
}
