* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 630px;
  padding: 30px 56px 30px 56px;
 
  margin: auto;
}

.list {
  column-count: 2;
  column-gap: 46px;
}

.list-item {
  margin-bottom: 26px;
}

.link {
  color: #000;
}

.list-item:nth-of-type(3n+1) {
  background-color: #fff;
}
.list-item:nth-of-type(3n+2) {
  background-color: #ddd;
}
.list-item:nth-of-type(3n+3) {
  background-color: #bbb;
}

