* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 100%;
  height: 480px;
  margin: auto;
}

@media (min-width: 768px) {
  
  .contain{
    display: flex;
    justify-content: space-between;
  }
  

  .green {
    flex-basis:  25%;
    height: 100%;
    
  }
  .blue {
    flex-basis:  73%;
    height: 100%;
  }
}
.contain{
  width: 100%;
  height: 66%;
}
.red {
  background-color: red;
  width: 100%;
  height: 33%;
}
.blue {
 
  background-color: blue;
  max-width: 100%;
  height: 30%;
}

.green {
  background-color: green;
  max-width: 100%;
  height: 70%;
  
}