.page-footer{
  display: flex;
  justify-content: space-evenly;
  width: 48rem;
  margin: auto;
  background: var( --footer-background-color);
  padding: 2.5rem 0;
}
.footer{
  display: flex;
  flex-direction: column;
 
}
.futer-social{
  display: flex;
  width: 15.625rem;
  margin: 1.25rem auto;
 
  justify-content: space-evenly;
}
