  .list-header {
    display: flex;
    flex-wrap: wrap;
    width: 24.375rem;
    justify-content: space-evenly;
    list-style-type: none;
    text-align: center;
  }

  .list-item-header {
    margin-right: 2.625rem;
  }

  .list-item-header:first-child {
    margin-left: 4rem;
  }

  .list-item-header:nth-child(4) {
    margin-left: 4rem;
  }
  .list{
    counter-reset: list;
  list-style: none;
  display: flex;
  justify-content: space-around;
  }
.item{
    padding-left: 2.313rem;
}

.list-item::before {
	counter-increment: list;
	content: counter(list);
	display: block;
	float: left;
	width: 1.625rem;
	height: 1.625rem;
	margin-right: 0.75rem;
	border-radius: 50%;
	background-color: var(--counter-background-color);
	color: var(--background-color);
	text-align: center;
  line-height: 1.625rem;
}
.list-item{
    margin-right: 1.25rem;
}
.list-item:last-child{
    margin-right: 0;
}
.list-main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 2.25rem;

    list-style: none;
    height: 15rem;
}
.list-item-main{
    margin-bottom: 1.75rem;
}
.list-item-main::before {
    content: "\2192";
    color: var(--schar-list-color);
    margin-right: 0.625rem;
}