.title {
    margin-bottom: 2.5rem;
    text-transform: uppercase;
    color: var(--link-text-color);
    font-family:var(--font-path);
    
}

.subtitle {
    font-family: arial;
    font-size: 0.938rem;
    margin-bottom: 0.625rem;
    color: var(--link-text-color);
}