.article{
  display: block;
  text-align: center;
  margin: auto;
}
.article__image{
 
}
.article__title{
  margin-top: 1rem;
  padding: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  color: blue;
}
.article__text{
  margin-top: 1rem;
  padding: 1rem;
  font-size: 1.5rem;
  color: greenyellow;
}
.article__link{
  margin-top: 1rem;
  padding: 1rem;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;

}