* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  margin: auto;
  text-align: center;
}
.task1{
  display: block;
  width: 100%;
  height: auto;
}
.box {
  width: 600px;
  height: 300px;
  background: url('../image/sunset.jpg') no-repeat;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .box {
    background: url('../image/sunset@x2.jpg') no-repeat;
  }
}
.box-icon{
  display: flex;
}
.icon{
  width: 15rem;
  height: 15rem;
}
.icon-facebook{
  background-image: url(../image/icon/facebook.svg);
}
.icon-twitter{
  background-image: url(../image/icon/twitter.svg);
}
.icon-github{
  background-image: url(../image/icon/github.svg);
}
.icon-google{
  background-image: url(../image/icon/google-plus.svg);
}