.nav{
  display: flex;
  margin: auto;
  justify-content: center;
}
.logo{
  padding: 1.5rem;
}
.logo__link{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2rem;
  color: red;
}
.nav-list{
  padding: 1.5rem;
  list-style: none;
  display: flex;
  margin-right: 5rem;
}
.nav-list__item{
  margin-right: 2rem;
  padding: 1rem;
}
.nav-list__item:last-child{
  margin-right: 0;
}
.nav-list__link{
  text-decoration: none;
  text-transform: uppercase;
}