* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .wrapper {
    background: url(../image/background.jpg);
    width: 100%;
    min-height: 100vh;
   
    
    margin: auto;
  }
  .clearfix::after {
    display: block;
    content: '';
    clear: both;
  }
  .header-page{
    position: relative;
    min-height: 160px;
    padding: 100px 0;
    text-align: center;
   
  }
  .main{
    width: 1020px;
    min-height: 100vh;
    background: var(--background-color);
    padding: 60px;
   position: relative;
   margin: auto;
  }
  
 
