.quote{
    padding: 10px;
    background-color: #fcfafa;
    
    margin-left: 10px;
    position: relative;
    
  }
  .quote::after {
    position: absolute;
   
    left: 50%;
    
    transform: translatex(-50%);
    content: '';
   
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 60px solid #fcfafa;
  }
 

.text{
    font-family: arial;
    font-size: 13px;
    color: var( --text-color);
}
.marg::before {
    content: '\201C' ;
    color: #263555;
    margin-right: 6px;
    margin-left: 8px;
   }
   .marg::after {
    content: '\201D' ;
    color: #263555;
    margin-right: 6px;
    margin-left: 8px;
   }
  .aside-text{
      margin-top: 60px;
  }
  .position{
      text-align: center;
  }