* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 770px;
    padding: 50px;
    margin: auto;
 
}
.image{
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;
}

.clearfix::after {
    display: block;
    content: '';
    clear: both;
}

.section{
    margin-top: 40px;
}
.section-main{
    display: flex;
    margin-top: 40px;
    
}