:root{
    --background-color: #ffffff;
    --link-text-color: #404b65;
    --link-background-color:#38afe5;
    --card-title-color: #e9eaec;
    --card-text-color: #cbc6c6;
    --card-background-color: #193149;
    --btn-color: #f9f6fc;
    --text-color:#4e5050;
}
