* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  background: url(../image/background.jpg);
 
  background-size: 100%;
  width: 100%;
  min-height: 100vh;
  position: relative;
  margin: auto;
  padding-top: 1.25rem;

}

.clearfix::after {
  display: block;
  content: '';
  clear: both;
} 

.header{
  width: 64rem;
  height: 14rem;
  margin: 0 auto 1.25rem auto;
  display: flex;
  
 
 
  align-items: center;
  position: relative;
}


.main {
  width: 1020px;
  min-height: 100vh;
  background: var(--background-color);
  padding: 60px;
  position: relative;
  margin: auto;
}

.link-back {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background: var(--link-background-color);
  text-decoration: none;
  text-align: center;
  line-height: 35px;
}

.link-back::after {
  content: "\25b3";
  color: var(--background-color);
  font-size: 25px;
  font-weight: bolder;
}