.card-section {
  display: flex;
  justify-content: space-between;
 
}

.card {
  
  display: flex;
  justify-content: space-between;
  position: relative;
  
  
  
}

.card:last-child {
  margin-right: 0;
}

.text-card-header {
  text-transform: uppercase;
  font-family: Pathway Gothic one;
  font-size: 31px;
  font-weight: normal;
  padding: 50px 0;
}

.article-card {
  display: none;
  position: absolute;
  width: 50%;
  height: 100%;
  background: var(--card-background-color);
  transition: display 10.5s 40.1s ease-in-out;

}
@keyframes card-anim{
  from{ opacity: 0;
  transform: translate(50%, -50%);
}
  to{
    opacity: 1;
    transform: none;
  }

}
.card:hover>.article-card {
  
  display: block;
  animation-name: card-anim;
  animation-duration: 1s;
  
}

.title-card {
  text-transform: uppercase;
  font-family: Pathway Gothic one;
  font-size: 31px;
  color: var(--card-title-color);
  padding: 20px;
  font-stretch: condensed;
  text-align: center;
  
}

.text-card {
  font-family: arial;
  font-size: 10px;
  color: var(--card-text-color);
  padding: 10px;
  padding-top: 0;
}

.card-btn {
  position: absolute;
  right: 10px;
  bottom: 10px;
 font-size: 12px;
  border-radius: 6px;
  background: var(--btn-color);
  padding: 2px 14px;
  color: var(--btn-text-color);
  text-decoration: none;
}