.link-header {
  font-size: 1.75rem;
  font-family: var(--font-path);
  color: var(--link-color);
  text-decoration: none;
  text-transform: uppercase;
}

.link-header:hover {
  color: var(--link-color-hover);
}

.link-item-header {
  text-decoration: none;
  font-size: 1.25rem;
  font-family: var(--font-path);
  text-transform: uppercase;
  color: var(--sub-text-color);
}




.link-back {
  border-radius: 50%;
  width: 2.188rem;
  background: var(--link-background-color);
  text-decoration: none;
  line-height: 2.188rem;
  margin-left: auto;
  display: flex;
  justify-content: center;
}

.link-back::after {
 
  content: "\003C";
  transform: rotate(90deg);
  color: var(--background-color);
  font-size: 1.563rem;
  font-weight: bolder;
}
.slide-link {
  
  float: left;
   width: 45px;
   height: 90px;
   background: var(--link-background-color);
   text-decoration: none;
   text-align: center;
   line-height: 90px;
   position: absolute;
    z-index: 50;
 }
 
 .back {
 
   border-radius: 100% 0 0 100%/ 50% 0 0 50%;
   bottom: 40px;
   left: 40px;
 }
 .back::after{
   content: "\2190";
   color: var(--background-color);
   font-size: 25px;
   font-weight: bolder;
 }
 
 .next {
   border-radius: 0 100% 100% 0/ 0 50% 50% 0;
   bottom: 40px;
   left: 85px;
 }
 .next::after{
   content: "\2192";
   color: var(--background-color);
  font-size: 25px;
 font-weight: bolder;
 }
 .slide-link:hover{
   background: rgba(56, 175, 229, 0.5);
 }
 