  .list {
   display: inline-block;
    list-style-type: none;
    
   
  }
  
  .list-item {
    float: left;
    margin-right: 60px;
    
    
  }
 
  .link {
    font-size: 28px;
    font-family: Pathway Gothic one;
    color: var(--background-color);
    text-decoration: none;
    text-transform: uppercase;
    
  }
  
  .link:hover {
    color: var(--link-text-color);
  }
  
  .list-item:last-child {
    margin-right: 0;
  }
  
  .list-item:nth-child(3) {
    margin-right: 250px;
  }