.list-header {
  display: flex;
  
  width: 64rem;
  justify-content: space-evenly;
  
  list-style-type: none;
  
}

.list-item-header {
  margin-right: 2.625rem;
}

.list-item-header:first-child {
  margin-left: 4rem;
}

.list-item-header:nth-child(3) {
  margin-right: 13rem;
}

  .link {
    font-size: 28px;
    font-family: Pathway Gothic one;
    color: var(--background-color);
    text-decoration: none;
    text-transform: uppercase;
    
  }
  
  .link:hover {
    color: var(--link-text-color);
  }
  
  .list-item:last-child {
    margin-right: 0;
  }
  
  .list-item:nth-child(3) {
    margin-right: 250px;
  }