:root{
    --background-color: #ffffff;
    --link-text-color: #263555;
    --link-background-color:#38afe5;
    --card-title-color: #e9eaec;
    --card-text-color: #cbc6c6;
    --card-background-color: #193149;
    --btn-color: #f9f6fc;
    --btn-text-color:#000000;
}
