.gallery {
    text-align: center;
}

.gallery__title {
    margin-bottom: 2.5rem;
    text-transform: uppercase;
    color: var(--schar-color);
    font-family: var(--font-path);
    font-size: 2rem;
    text-align: left;
}

.gallery__box {
    margin-bottom: 2rem;
    line-height: 100%;
    position: relative;
}

.gallery__image {
    display: block;
    width: 100%;
    height: auto;
}

.gallery__link {
    display: block;
    line-height: 100%;
}


.gallery__zoom {
    width: 40px;
    height: 40px;
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.gallery__box--hover:hover{
    filter: contrast(50%);
}
.gallery__box--hover-zoom:hover>.gallery__zoom {
    display: block;
}
@media( max-width:768px) {
    .gallery__box--last:last-child{
        display: none;
    }
    
  }
  
@media( min-width:768px) {
    .gallery__box--last-end:last-child{
        display: none;
      }
      .gallery__box--last:last-child{
        margin-bottom: 0;
    }  
  }
  @media( min-width:992px) {
    .gallery__box--last-end:last-child {
      display: block;
    }
   
  }