.main {
 
 max-width: 1024px;
  background: var(--background-color);
  padding: 2.5rem;
  
  margin: auto;
}
.clearfix::after {
  display: block;
  content: '';
  clear: both;
}

.link-back {
  border-radius: 50%;
  width: 2.188rem;
  background: var(--link-background-color);
  text-decoration: none;
  line-height: 2.188rem;
  margin-left: auto;
  display: flex;
  justify-content: center;
  position: fixed;
  right: 15%;
  bottom: 5%;
}

.link-back::after {
 
  content: "\003C";
  transform: rotate(90deg);
  color: var(--background-color);
  font-size: 3rem;
 
  font-family:  var(--font-path);
}
.list{
  counter-reset: list;
list-style: none;
}

.list-item{
  margin-bottom: 10px;
  
  display: flex;
}
.list-item:last-child{
  margin-bottom: 0;
}
.list-item::before {
	counter-increment: list;
	content: counter(list);

  display: flex;
  justify-content: center;
	width: 26px;
	height: 26px;
	margin-right: 12px;
	border-radius: 50%;
	background-color: #38afe5;
	color: #ffffff;
	text-align: center;
  line-height: 26px;
}
.sub{
  flex-basis: 85%;
}
.subtitle{
  
  font-size: 0.93rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color:var(--schar-color);
  
  margin-bottom:0.93rem;
}
.text{
 
  font-size:0.75rem;
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}
.quote-text{
  font-size: 0.93rem;
  font-family: Arial, Helvetica, sans-serif;
  
  color:var(--schar-color);
}
.article{
  margin-bottom: 55px;
  padding-top: 55px;
  border-top: 1px solid var(--border-color);
 }
.article:last-child{
  margin-bottom: 0;
}
.article:first-child{
  padding-top: 0;
  border: none;
}

.list-main {
  padding-top: 2.8rem;
 display: flex;
  list-style-type: none;
  padding-bottom: 2.8rem;
  flex-wrap: wrap;
   
}
.list-item-main {
  font-size: 0.81rem;
  font-family: Arial;
  color: #263555;
  margin-bottom: 26px;
flex-basis: 50%;  
}
.list-item-main:last-child{
margin-bottom: 0;
  }   
.list-item-main::before {
 content: '\2192' ;
 color: #38afe5;
 margin-right: 0.81rem;
}

.quote {
  padding: 0.625rem;
  background-color: var(--quote-background-color);
  position: relative;
  
}

.quote::after {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  content: '';
  width: 0;
  height: 0;
  border-left: 1.25rem solid transparent;
  border-right: 1.25rem solid transparent;
  border-top: 3.75rem solid var(--quote-background-color);

}
.marg{
  margin-bottom: 0;
}
.marg::before {
  content: '\201C';
  color: var(--schar-color);
  margin-right: 0.375rem;
  margin-left: 0.5rem;
}

.marg::after {
  content: '\201D';
  color: var(--schar-color);
  margin-right: 0.375rem;
  margin-left: 0.5rem;
}