@media( min-width:768px) {
  .gallery-image {
    flex-basis: 45%;
  }
  .gallery {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}
@media( min-width:1024px) {
  .gallery-image {
    flex-basis: 30%;
  }
}