* {
    box-sizing: border;
    margin: 0;
    padding: 0;
  }
  
  body {
    height: 470px;
    width: 480px; 
    margin: auto;
    padding: 20px 40px;
  }
  .agensy {
    height: 200px;
    margin: 0 0 22px 0;
  }
  .hz {
    margin: 0 0 16px 0;
  }
.our {
  height: 225px;
}
.hzv {
  margin: 0 0 20px 0;
}