* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page {
  width: 480px;
  margin: auto;
  padding: 20px 36px;
}

.article {
  margin: 0 0 36px 0;
}

.title {
  margin: 0 0 16px 0;
  
}

.subtitle {
  margin: 0 0 20px 0;
  font-weight: bold;
}
.article-end {
  margin: 0 0 0 0;
}

