* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 1280px;
  min-height: 250px;
 
  background: linear-gradient(to right, #a7bde5, #6cb1da);
  margin: auto;
  position: relative;
  text-align: center;
}

.list {
  list-style-type: none;

}

.list-item {
  float: left;
  margin-right: 100px;
  display: inline;
}

.link {
  font-size: 28px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.link:hover {
  color: rgb(37, 52, 85);
}

.list-item:last-child {
  margin-right: 0;
}

.list-item:nth-child(3) {
  margin-right: 250px;
}

.clearfix::after {
  display: block;
  content: '';
  clear: both;
}

.logo {
 
  height: 140px;
  width: 140px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  
  vertical-align: middle;
}

.logo-text {
  border-radius: 50%;
 
  background: white;
 
}