* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 300px;
    padding: 50px;
    margin: auto;
    background: #d7bca1;
    display: flex;
    justify-content: space-around;
}
.icon {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
}
.icon:hover{
    filter: contrast(10%)
}
.facebook {
    background: url(../image/sprite.png) -40px -40px;
}

.twitter {
    background: url(../image/sprite.png);
}

.google {
    background: url(../image/sprite.png) 0 -40px;
}

.instagram {
    background: url(../image/sprite.png) -40px 0;
}