* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
 
  height: 200px;
  margin: auto;
}
@media (min-width: 768px){
  .container {
    
    display: flex;
  }
  .yellow {
    width: 70%;

  }
  .green{
    width: 30%;
  }
}
.yellow {
  background-color: yellow;
 
  height: 50%;
}

.green {
  background-color: green;
 
  height: 50%;
}