* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {

  width: 1280px;
  min-height: 250px;
  padding: 100px 75px;
  background: linear-gradient(to right, #a7bde5, #6cb1da);
  margin: auto;
 
}
.list{
  
  list-style-type: none;
  
}
.list-item{
  float: left;
  margin-right: 100px;
  
}
.link{
  font-size: 28px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.link:hover{
  color: rgb(37, 52, 85);
  }
.list-item:last-child{
   margin-right: 0;
}
.clearfix::after {
  display: block;
  content: '';
  clear: both;
}
#current{
  color: rgb(37, 52, 85);
}