* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {

  width: 1280px;
  height: 250px;
  padding: 100px;
  background: linear-gradient(to right, #a7bde5, #6cb1da);
  margin: auto;
 
}
.list{
  
  list-style-type: none;
  
}
.list-item{
  float: left;
  
}
.link{
  font-size: 28px;
  color: #fff;
  text-decoration: none;
  margin-right: 40px;
}
.link:hover{
  color: blue;
  }
.clearfix::after {
  display: block;
  content: '';
  clear: both;
}